body {

    background: #b8d9f0
}
    

h1{
    text-align: center;
}

p {
    text-align: center;
}
#avaliaçao{ 
    font-size: 20px

}

em {
    color:rgb(230, 10, 10)
}

strog {
    color: rgb(238, 0, 0);
}

em strong {
    color:crimson
}

